body {
      font-family: 'Prata', serif;
      font-family: 'Ubuntu Condensed', sans-serif;
      font-family: 'Vazirmatn', sans-serif;
}

.main-title {
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 200px;
      margin: auto;
      padding: 10px;
      background-color: #765827;
      font-size: 100px;
      opacity: 50%;
}


#insta-button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
}


#sec1 {
      background-image: url(../pistures/OIP.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 40%;
}